/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Mobile Styles */

.container {
	width: 100%;
	line-height: 1.4;
}

h3 {
	font-family: 'Russo One', sans-serif;
}

header {
	position: relative;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
	padding: 20px 0 0;
}

header .logo {
    margin-bottom: 20px;
}

header nav {
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: stretch;
}

header nav a {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #B3B1B5;
	color: #B3B1B5;
	text-decoration: none;
}

header nav a:last-child {
    border-bottom: 1px solid #B3B1B5;
}

.slogan {
    height: 100%;
    margin: 50px 0 70px;
	display: flex;
	align-items: center;
}

.slogan .slogan-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.slogan .slogan-text h1 {
	font-size: 74px;
    text-align: center;
    line-height: 1;
}

.slogan .slogan-text button {
	background-color: white;
	border: 1px solid black;
	padding: 5px 35px;
	cursor: pointer;
}

.slogan .slogan-img {
    display: none;
}

.main .top-text, .main .bottom-text {
    width: 100%;
    margin-bottom: 4%;
}

.main {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 20px;
	display: flex;
	flex-flow: column nowrap;
}

.main .top-text, .main .bottom-text {
    width: 100%;
    margin-bottom: 4%;
}

.main .middle-img {
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

.contact {
    width: 90%;
    margin: 5% auto 0;
    line-height: 1;
}

footer p {
	margin: 50px 0 10px;
	text-align: center;
}

/* Responsive Styles */

/* Tablet */
@media screen and (min-width: 500px) {

    .container {
        width: 95%;
        margin: 0 auto;
    }

    header {
        padding: 30px 0 15px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    header nav {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    header nav a {
        padding: 0;
        font-size: 16px;
        border-top: 0;
    }
    
    header nav a:last-child {
        border-bottom: 0;
    }

    header .logo {
        margin-bottom: 30px;
    }

    .slogan {
        margin: 40px 0;
    }

    .main {
        height: auto;
        width: 100%;
        padding: 4% 0;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .main .top-text {
        width: 49%;
    }

    .main .middle-img {
        width: 100%;
        height: 100%;
        margin-bottom: 4%;
    }

    .main .bottom-text {
        width: 32%;
        margin: 0;
    }

    .contact {
        margin: 30px 0;
    }
}

/* Desktop */

@media screen and (min-width: 800px) {

    .container {
        max-width: 880px;
    }

    header {
        position: sticky;
        z-index: 1;
        top: 0;
        background-color: #f2f2f2;
        flex-direction: row;
    }

    header nav {
        width: 75%;
    }

    header nav a {
        color: gray;
        font-size: 14px;
    }

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 17:36:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
    @keyframes shadow-pop-br {
        0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
        }
        100% {
        box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        transform: translateX(-8px) translateY(-8px);
        }
    }

    header nav a:hover {
	    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }

    header .logo {
        margin-bottom: 0;
    }

    .slogan {
        height: 500px;
        margin: 0;
    }

    /* ----------------------------------------------
    * Generated by Animista on 2019-7-9 17:31:28
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation shadow-drop-2-center
    * ----------------------------------------
    */
    @keyframes shadow-drop-2-center {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }

    button:hover {
        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .slogan .slogan-img {
        display: block;
    }

    .main {
        height: 600px;
        padding: 0;
        flex-flow: row wrap;
        align-content: space-evenly;
        justify-content: space-between;
    }

    .main .top-text {
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .main .middle-img {
        max-width: 876px;
        max-height: 182px;
        margin-bottom: 0;
    }
    
    .main .bottom-text {
        width: 33%;
        padding: 0;
        margin: 0;
    }
}